body{
    margin: 0px;
    padding: 0px;
}

.MainContent {
    background-color:gray;
}
header {
    background-color:rgba(99, 47, 189, 0.871) ;
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between;
    padding: 5px 250px;
    align-items: center;
    
}

header h1 {
    margin: 0px; 
    padding: 5px;
    color: white;
}
header input {
    width: 30%;
    height: 25px;
}

/* ---------- ListCaracter ------------- */
.ListCaracter{
     height: 100vh; 
 
}
